.contact-title {
    margin-top: 70px;
    margin-bottom: 35px;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 22px;
    color: #413d4b;
}

.contact-section {
    display: block;
}

@media screen and (min-width: 1000px) {
  .contact-section {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .contact-section {
    display: flex;
}
}



label {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    
  }

  input {
    width: 440px;
    padding: 13px 0px 13px 20px;
  }
  
  textarea {
    width: 440px;
    height: 200px;
    padding: 13px 0px 13px 20px;
  }

  .contact-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 70px;
    color: #00e0d0;
    border-radius: 2px;
    border-style: solid;
    border-color: #00e0d0;
    font-family: HammersmithOne;
    font-weight: 400;
    width: 105px;
    height: 40px;
    
  }

  .clients-icon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    max-width: 380px;
  }

  .our-clients {
    margin-top: 10px;
    margin-bottom: 40px;

    &:nth-child(2n+1) {
      margin-right: 80px;
    }
  }

  .contact {
    display: none;
  }

    @media screen and (min-width: 768px) {
      .contact {
        display: initial;
      }
  }

    @media screen and (min-width: 1200px) {
      .contact {
       display: initial;
    }
  }

  

  @media screen and (min-width: 768px) {
    .contact-section-form  {
     display: flex;
     flex-direction: column;
     align-items: center;
  }
    .formContacts {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .contact-title {
      margin-top: 0;
    }
    .contact-section-client {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
    }
}
@media screen and (min-width: 1000px) {
  .contact-section-form  {
   display: flow-root;
   margin-top: 70px;
}
  .formContacts {
    display: flow-root;
  }
  .contact-title {
    margin-top: 0;
  }
  .contact-section-client {
    display: flow-root;
    margin-left: 100px;
    margin-top: 70px;
}
}