.gallery-flex {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.gallery-item {
    margin-top: 70px;
    text-align: center;
    font-family: Playfair Display;
    font-weight: 900;
    font-size: 22px;
    color: #413d4b;
}

.gallery-link {
    text-align: center;
    font-family: Myriad Pro;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #413d4b;
    transition: 350ms;

    &:hover,
    &:focus,
    &:active {
        color: #00e0d0;
    }
}

.gallery-btn {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 70px;
    margin-bottom: 70px;
    padding: 8px 14px 6px 14px;
    color: #00e0d0;
    border-radius: 2px;
    border-style: solid;
    border-color: #00e0d0;
    font-family: HammersmithOne;
    font-weight: 400;
}

.gallery-link-li {
    margin-top: 80px;
}

.galleryCreation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    max-width: 160px;
    max-height: 200px;
}

@media screen and (min-width: 768px) {
    .gallery-img {
        max-width: 267px;
        max-height: 200px;
    }
}

@media screen and (min-width: 1200px) {
    .gallery-img {
        max-width: 267px;
        max-height: 200px;
    }
}

.videoContent {
    z-index: 10 !important;
}