.play {
    background-image: url("../IMG/siti-photo.png");
    background-size: cover;
    height: 550px;
    width: 100%;
    
}

.play-item {
    text-align: center;
    font-family: Roboto;
    font-weight: 900;
    font-size: 16px;
    color: #ffffff;
}

.play-content {
    display: flex;
    justify-content: center;
    align-items: center;
}


.play-text-btn {
    width: 230px;
    height: 200px;
    margin-top: 170px;
    display: block;
    z-index: 1 !important;

    &:hover,
	:focus {
        circle, polygon {
            fill: #00e0d0;
        }
	}
}

