.profession {
    background-image: url("../IMG/hero2.png");
    background-size: cover;
    height: 550px;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .profession {
        background-image: url("../IMG/hero2.png");
        background-size: cover;
        height: 500px;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .profession {
        background-image: url("../IMG/hero2.png");
        background-size: cover;
        height: 500px;
        width: 100%;
    }
}

.arrow-color {
    width: 35px;
}

.profession-img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

.profession-div {
    display: flex;
}

.profession-text {
    max-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: #e0dfe5;
    font-family: Playfair Display;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.3;
}

@media screen and (min-width: 768px) {
    .profession-text {
        max-width: 600px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        color: #e0dfe5;
        font-family: Playfair Display;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.3;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .profession-text {
        max-width: 780px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        color: #e0dfe5;
        font-family: Playfair Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.3;
    }
  }

.profession-name {
    margin-top: 50px;
    text-align: center;
    font-family: Roboto;
    font-weight: 900;
    font-size: 12px;
    line-height: 1.6;
    color: #f9f9f9;
}

.profession-work {
    margin-top: 13px;
    text-align: center;
    font-family: Roboto;
    font-weight: 300;
    font-size: 11px;
    line-height: 1.7;
    color: #f9f9f9;
}

.container-profession {
    width: 313px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.splide__arrow {
    background: none !important;
    border: 0;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 45% !important;
    transform: translateY(-50%);
    z-index: 2;
    opacity: 0.7;
    align-items: center;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 2em;
    max-width: 2em;
}


#splide01-list .is-active .img-profession {
    width: 70px !important;
    height: 70px !important;
    margin-top: -11px;
    margin-left: -13px;
}

.splide__track {
    padding-top: 20px !important;
}

.arrow-color {
    filter: invert(100%);
}

.splide__pagination__page.person-1 {
    width: 45px;
    height: 45px;
    background: url(../IMG/person-1.png) !important;
    background-repeat: no-repeat;
}

.splide__pagination__page.person-2 {
    width: 45px;
    height: 45px;
    background: url(../IMG/person-2.png) !important;
    background-repeat: no-repeat;
}

.splide__pagination__page.person-3 {
    width: 45px;
    height: 45px;
    background: center url(../IMG/person-3.png) !important;
    background-repeat: no-repeat;
}


.splide__pagination__page.person-4 {
    width: 45px;
    height: 45px;
    background: url(../IMG/person-4.png) !important;
    background-repeat: no-repeat;
}

.splide__pagination__page.person-5 {
    width: 45px;
    height: 45px;
    background: url(../IMG/persone-5.png) !important;
    background-repeat: no-repeat;
}

.splide__pagination__page {
    top: 100px;
}

.splide__pagination__page.is-active {
    transform: scale(1.2) !important;
    z-index: 1;
}

// .splide__arrow--next {
//     position: relative !important;
//     right: -51em !important;
//     bottom: -307px !important;
// }

// .splide__arrow--prev {
//     position: relative !important;
//     left: 28em !important;
//     bottom: -341px !important;
// }

.splide__pagination {
    bottom: 11.5em !important;
}

.person-class-pagination {
    bottom: 1.5em !important;
}