.team {
    background-image: url("../IMGhero3.png");
    background-size: cover;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .team {
        background-image: url("../IMGhero3.png");
        background-size: cover;
        height: 710px;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .team {
        background-image: url("../IMGhero3.png");
        background-size: cover;
        height: 710px;
        width: 100%;
    }
}

.team-img {
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 768px) {
    .team-img {
        width: 220px;
        height: 230px;
    }
}

@media screen and (min-width: 1200px) {
    .team-img {
        width: 220px;
        height: 230px;
    }
}

.team-photos {
    margin-right: 0px;
}

@media screen and (min-width: 768px) {
    .team-photos {
        margin-right: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .team-photos {
        margin-right: 20px;
    }
}

.team-slide { 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .team-slide {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

@media screen and (min-width: 1200px) {
    .team-slide {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

.team-item {
    margin-top: 70px;
    text-align: center;
    font-family: Playfair Display;
    font-weight: 400;
    font-size: 22px;
    color: #f9f9f9;
}

.team-text {
    text-align: center;
    margin-top: 15px;
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    color: #f9f9f9;
}

.team-tamp {
    border-bottom: 2px solid #7f7b94;
    border-left: 2px solid #7f7b94;
    border-right: 2px solid #7f7b94;
}
.team-card-item {
    padding-top: 20px;
    text-align: center;
    font-family: Roboto;
    font-weight: 900;
    font-size: 14px;
    color: #f9f9f9;
}

.team-card-text {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 25px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    color: #b1afbe;
}

.team-application {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    color: #f3f3f3;
}

.btn-blue-style-marging {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25px;
    padding: 8px 14px 6px 14px;
    color: #00e0d0;
    border-radius: 2px;
    border-style: solid;
    border-color: #00e0d0;
    font-family: HammersmithOne;
    font-weight: 400;
}

.team-class {
    margin-bottom: -15px;
    margin-top: -10px;
}