@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-font-color);
  font-size: 12px;
  background-color: var(--primary-background-color);
}

body.dark {
  background-color: var(--primary-background-color-dark-theme-body);
  color: var(--primary-font-color-dark-theme);
}

* {
  transition-property: background-color, transform, box-shadow, color, opacity, visibility, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  list-style: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

button {
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */ /* Konqueror */
  -moz-user-select: none; /* Firefox */ /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
   not supported by any browser */
}

.text-transform {
  text-transform: uppercase;
}

textarea {
  resize: none;
}

.hover-btn:hover {
  transform: scale(1.1);
}

.header-link-style {
  margin-right: 25px;
  color: #f2f1f4;
  font-family: Roboto;
  font-weight: bold;
  transition: 350ms;
}
.header-link-style:hover, .header-link-style:focus, .header-link-style:active {
  color: #00e0d0;
}

.header-link {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-link {
    display: flex;
    margin-top: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .header-link {
    margin-top: 36px;
  }
}
.flex {
  display: flex;
}

.header {
  background-image: url("../IMG/hero-bg.png");
  background-size: cover;
  height: 670px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerTop {
  display: flex;
  max-width: 940px;
  width: 100%;
  justify-content: space-between;
}

.logotipe-header {
  margin-top: 45px;
  margin-left: 25px;
}

@media screen and (min-width: 768px) {
  .logotipe-header {
    margin-top: 15px;
    margin-left: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .logotipe-header {
    margin-top: 15px;
    margin-left: 0;
  }
}
.header-title {
  text-align: center;
  font-family: Playfair;
  font-size: 22px;
  color: #f2f1f4;
}
.header-title::after {
  content: "";
  width: 50px;
  height: 1px;
  display: block;
  background: #00e0d0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .header-title {
    text-align: center;
    font-family: Playfair;
    font-size: 32px;
    color: #f2f1f4;
  }
}
@media screen and (min-width: 1200px) {
  .header-title {
    text-align: center;
    font-family: Playfair;
    font-size: 32px;
    color: #f2f1f4;
  }
}
.line {
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.header-text {
  margin-right: auto;
  margin-left: auto;
  max-width: 280px;
  text-align: center;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 200;
  line-height: 1.1;
  color: #f2f1f4;
}

@media screen and (min-width: 768px) {
  .header-text {
    margin-right: auto;
    margin-left: auto;
    max-width: 780px;
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    color: #f2f1f4;
  }
}
@media screen and (min-width: 1200px) {
  .header-text {
    margin-right: auto;
    margin-left: auto;
    max-width: 780px;
    text-align: center;
    margin-top: 30px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
    color: #f2f1f4;
  }
}
.btn-blue-style {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
  color: #00e0d0;
  border-radius: 2px;
  border-style: solid;
  border-color: #00e0d0;
  font-family: HammersmithOne;
  font-weight: 400;
  width: 105px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.container-header {
  position: relative;
  max-width: 960px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.minusBtnHeader {
  display: none;
}

.headerClass {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroIMG {
  position: absolute;
  width: 100%;
  height: 670px;
}

.headerBtnPagination {
  position: relative;
  margin-bottom: 65px;
  text-align: center;
  color: aliceblue;
  transform: translateX(-10px);
}

.headerBottomBtn {
  color: #ffffff;
}

.active-icon {
  fill: #00e0d0 !important;
  background-color: #00e0d0;
  border-radius: 50%;
}

#header-slider {
  position: static !important;
}

.our-story-img {
  display: flex;
}

.story-title {
  margin-top: 70px;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 22px;
  color: #413d4b;
}

.our-story {
  height: 400px;
}

.story-img {
  display: none;
}

@media screen and (min-width: 768px) {
  .story-img {
    display: inline;
    margin-right: 100px;
    margin-top: 70px;
    margin-left: 80px;
  }
}
@media screen and (min-width: 1200px) {
  .story-img {
    margin-right: 100px;
    margin-top: 70px;
    margin-left: 80px;
  }
}
.srory-text {
  margin-right: auto;
  margin-left: auto;
  Max-width: 780px;
  margin-top: 28px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  color: #716e78;
}

.srory-texts {
  margin-right: auto;
  margin-left: auto;
  max-width: 780px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3;
  color: #716e78;
}

.btn-blue-srory {
  display: flex;
  margin-top: 25px;
  color: #00e0d0;
  border-radius: 2px;
  border-style: solid;
  border-color: #00e0d0;
  font-family: HammersmithOne;
  font-weight: 400;
  width: 105px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.minusBtnStory {
  display: none;
}

.play {
  background-image: url("../IMG/siti-photo.png");
  background-size: cover;
  height: 550px;
  width: 100%;
}

.play-item {
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 16px;
  color: #ffffff;
}

.play-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-text-btn {
  width: 230px;
  height: 200px;
  margin-top: 170px;
  display: block;
  z-index: 1 !important;
}
.play-text-btn:hover circle, .play-text-btn:hover polygon,
.play-text-btn :focus circle,
.play-text-btn :focus polygon {
  fill: #00e0d0;
}

.competence-item {
  margin-top: 70px;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 22px;
  color: #413d4b;
}

.competence-text {
  text-align: center;
  margin-top: 15px;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #716e78;
}

.competence-flex {
  display: flex;
  justify-content: center;
}

.play-work:nth-child(3n) {
  -moz-column-break-after: always;
       break-after: always; /* Новый синтаксис */
}

.play-work {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.play-expirinse {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .play-expirinse {
    width: 33.333%;
  }
}
@media screen and (min-width: 1200px) {
  .play-expirinse {
    width: 33.333%;
  }
}
.box-shadow-expierens {
  box-shadow: 1px 1px 0px rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
  .box-shadow-expierens {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 1200px) {
  .box-shadow-expierens {
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  }
}
.box-shadow-bottom {
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
  .box-shadow-bottom {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 1200px) {
  .box-shadow-bottom {
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  }
}
.box-shadow-reht {
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0);
}

@media screen and (min-width: 768px) {
  .box-shadow-reht {
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
  }
}
@media screen and (min-width: 1200px) {
  .box-shadow-reht {
    box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
  }
}
.img-work {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  margin-bottom: 38px;
}

.line {
  margin-bottom: 50px;
}

.play-title-expirinse {
  text-align: center;
  margin-top: 35px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 14px;
  color: #413d4b;
}

.play-text-expirinse {
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 30px;
  text-align: center;
  margin-top: 28px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
  color: #666666;
}

.team {
  background-image: url("../IMG/hero3.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .team {
    background-image: url("../IMG/hero3.png");
    background-size: cover;
    height: 710px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    background-image: url("../IMG/hero3.png");
    background-size: cover;
    height: 710px;
    width: 100%;
  }
}
.team-img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .team-img {
    width: 220px;
    height: 230px;
  }
}
@media screen and (min-width: 1200px) {
  .team-img {
    width: 220px;
    height: 230px;
  }
}
.team-photos {
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .team-photos {
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .team-photos {
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
}
.team-slide {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .team-slide {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
@media screen and (min-width: 1200px) {
  .team-slide {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }
}
.team-item {
  margin-top: 70px;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 22px;
  color: #f9f9f9;
}

.team-text {
  text-align: center;
  margin-top: 15px;
  font-family: Playfair Display;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #f9f9f9;
}

.team-tamp {
  border-bottom: 2px solid #7f7b94;
  border-left: 2px solid #7f7b94;
  border-right: 2px solid #7f7b94;
}

.team-card-item {
  padding-top: 20px;
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 14px;
  color: #f9f9f9;
}

.team-card-text {
  text-align: center;
  margin-top: 8px;
  margin-bottom: 25px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 300;
  color: #b1afbe;
}

.team-application {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  color: #f3f3f3;
}

.btn-blue-style-marging {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 25px;
  color: #00e0d0;
  border-radius: 2px;
  border-style: solid;
  border-color: #00e0d0;
  font-family: HammersmithOne;
  font-weight: 400;
  width: 120px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.team-class {
  margin-bottom: -15px;
  margin-top: -10px;
}

.gallery-flex {
  display: flex;
  justify-content: space-around;
  margin-bottom: 70px;
}

.gallery-item {
  margin-top: 70px;
  text-align: center;
  font-family: Playfair Display;
  font-weight: 900;
  font-size: 22px;
  color: #413d4b;
}

.gallery-link {
  text-align: center;
  font-family: Myriad Pro;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: #413d4b;
  transition: 350ms;
}
.gallery-link:hover, .gallery-link:focus, .gallery-link:active {
  color: #00e0d0;
}

.gallery-btn {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 70px;
  margin-bottom: 70px;
  color: #00e0d0;
  border-radius: 2px;
  border-style: solid;
  border-color: #00e0d0;
  font-family: HammersmithOne;
  font-weight: 400;
  width: 120px;
  height: 35px;
  justify-content: center;
  align-items: center;
}

.gallery-link-li {
  margin-top: 80px;
}

.galleryCreation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-img {
  max-width: 160px;
  max-height: 200px;
}

@media screen and (min-width: 768px) {
  .gallery-img {
    max-width: 267px;
    max-height: 200px;
  }
}
@media screen and (min-width: 1200px) {
  .gallery-img {
    max-width: 267px;
    max-height: 200px;
  }
}
.videoContent {
  z-index: 10 !important;
}

.profession {
  background-image: url("../IMG/hero2.png");
  background-size: cover;
  height: 550px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .profession {
    background-image: url("../IMG/hero2.png");
    background-size: cover;
    height: 500px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .profession {
    background-image: url("../IMG/hero2.png");
    background-size: cover;
    height: 500px;
    width: 100%;
  }
}
.arrow-color {
  width: 35px;
}

.profession-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
}

.profession-div {
  display: flex;
}

.profession-text {
  max-width: 300px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: #e0dfe5;
  font-family: Playfair Display;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .profession-text {
    max-width: 600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: #e0dfe5;
    font-family: Playfair Display;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
  }
}
@media screen and (min-width: 1200px) {
  .profession-text {
    max-width: 780px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    color: #e0dfe5;
    font-family: Playfair Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
  }
}
.profession-name {
  margin-top: 50px;
  text-align: center;
  font-family: Roboto;
  font-weight: 900;
  font-size: 12px;
  line-height: 1.6;
  color: #f9f9f9;
}

.profession-work {
  margin-top: 13px;
  text-align: center;
  font-family: Roboto;
  font-weight: 300;
  font-size: 11px;
  line-height: 1.7;
  color: #f9f9f9;
}

.container-profession {
  width: 313px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

.splide__arrow {
  background: none !important;
  border: 0;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 45% !important;
  transform: translateY(-50%);
  z-index: 2;
  opacity: 0.7;
  align-items: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  height: 2em;
  max-width: 2em;
}

#splide01-list .is-active .img-profession {
  width: 70px !important;
  height: 70px !important;
  margin-top: -11px;
  margin-left: -13px;
}

.splide__track {
  padding-top: 20px !important;
}

.arrow-color {
  filter: invert(100%);
}

.splide__pagination__page.person-1 {
  width: 45px;
  height: 45px;
  background: url(../IMG/person-1.png) !important;
  background-repeat: no-repeat;
}

.splide__pagination__page.person-2 {
  width: 45px;
  height: 45px;
  background: url(../IMG/person-2.png) !important;
  background-repeat: no-repeat;
}

.splide__pagination__page.person-3 {
  width: 45px;
  height: 45px;
  background: center url(../IMG/person-3.png) !important;
  background-repeat: no-repeat;
}

.splide__pagination__page.person-4 {
  width: 45px;
  height: 45px;
  background: url(../IMG/person-4.png) !important;
  background-repeat: no-repeat;
}

.splide__pagination__page.person-5 {
  width: 45px;
  height: 45px;
  background: url(../IMG/persone-5.png) !important;
  background-repeat: no-repeat;
}

.splide__pagination__page {
  top: 100px;
}

.splide__pagination__page.is-active {
  transform: scale(1.2) !important;
  z-index: 1;
}

.splide__pagination {
  bottom: 11.5em !important;
}

.person-class-pagination {
  bottom: 1.5em !important;
}

.contact-title {
  margin-top: 70px;
  margin-bottom: 35px;
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 22px;
  color: #413d4b;
}

.contact-section {
  display: flex;
}

.contact-section-client {
  margin-left: 100px;
}

label {
  display: flex;
  flex-direction: column;
  margin-bottom: 23px;
}

input {
  width: 440px;
  padding: 13px 0px 13px 20px;
}

textarea {
  width: 440px;
  height: 200px;
  padding: 13px 0px 13px 20px;
}

.contact-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 70px;
  color: #00e0d0;
  border-radius: 2px;
  border-style: solid;
  border-color: #00e0d0;
  font-family: HammersmithOne;
  font-weight: 400;
  width: 105px;
  height: 40px;
}

.clients-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  max-width: 380px;
}

.our-clients {
  margin-top: 10px;
  margin-bottom: 40px;
}
.our-clients:nth-child(2n+1) {
  margin-right: 80px;
}

.contact {
  display: none;
}

@media screen and (min-width: 768px) {
  .contact {
    display: initial;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    display: initial;
  }
}
.footer {
  background-image: url("../IMG/hero5.png");
  background-size: cover;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .footer {
    background-image: url("../IMG/hero5.png");
    background-size: cover;
    height: 400px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    background-image: url("../IMG/hero5.png");
    background-size: cover;
    height: 400px;
    width: 100%;
  }
}
.logotipe-footer {
  margin-top: 70px;
}

.footer-right-text {
  margin-top: 25px;
  max-width: 290px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 10px;
  line-height: 1.85;
}

@media screen and (min-width: 768px) {
  .footer-right-text {
    margin-top: 25px;
    max-width: 290px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .footer-right-text {
    margin-top: 25px;
    max-width: 290px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.85;
  }
}
.footer-tottal-flex {
  display: flex;
}

.footer-right-element {
  margin-right: 30px;
}

.footer-left-element {
  display: none;
}

@media screen and (min-width: 768px) {
  .footer-left-element {
    display: block;
    margin-left: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-left-element {
    display: block;
    margin-left: 60px;
  }
}
.footer-center-title {
  margin-top: 80px;
  font-family: Roboto;
  font-weight: 900;
  line-height: 1.7;
  font-size: 15px;
  color: #ffffff;
}

.footer-information-text {
  margin-left: -20px;
  display: flex;
  max-width: 290px;
  color: #ffffff;
  font-family: Roboto;
  font-size: 10px;
  line-height: 1.85;
}

@media screen and (min-width: 768px) {
  .footer-information-text {
    margin-left: -20px;
    display: flex;
    max-width: 290px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1.85;
  }
}
@media screen and (min-width: 1200px) {
  .footer-information-text {
    margin-left: -20px;
    display: flex;
    max-width: 290px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.85;
  }
}
.item__svg__phone {
  fill: #ffffff;
  width: 35px;
  height: 20px;
}

.item__svg {
  fill: #ffffff;
  width: 80px;
  height: 20px;
}

.footer-content {
  max-width: 250px;
  display: flex;
  flex-wrap: wrap;
}

.footer-map {
  margin-left: 10px;
  margin-top: 30px;
}

.footer-phone {
  margin-left: 10px;
  margin-top: 10px;
}

.footer-right-title {
  margin-bottom: 30px;
  margin-top: 80px;
  font-family: Roboto;
  font-weight: 900;
  line-height: 1.7;
  font-size: 15px;
  color: #ffffff;
}

.footer-input {
  max-width: 210px;
  height: 20px;
  background-color: #3d2f61;
  border: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0.4;
}

::-moz-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

:-ms-input-placeholder {
  color: #ffffff;
}

::-ms-input-placeholder {
  color: #ffffff;
}

.form-footer {
  display: flex;
}

.contact-btn-footer {
  border-radius: 2px;
  border-style: solid;
  background-color: #9e98b2;
  border-color: #9e98b2;
  font-family: HammersmithOne;
  font-weight: 400;
  opacity: 0.7;
}

.btn-submit {
  opacity: 0.9;
}

.network-footer {
  display: flex;
  margin-top: 25px;
}

.network-footer-icon {
  border: 1px solid #ffffff;
  border-radius: 50%;
  padding: 5px 5px 2px;
  margin-left: 8px;
}

.footer-social-icon {
  fill: #ffffff;
}

.bottonFooter {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.bootonFooterLink {
  display: flex;
  margin-bottom: 35px;
}

.footerLink {
  color: #ffffff;
  margin-right: 35px;
}

.footerCopyright {
  color: #ffffff;
  margin-right: 25px;
}

.label-input {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.1pt;
  color: #757575;
}

.label-input-comment {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  letter-spacing: 0.1pt;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--time) var(--cubic);
}

.is-hidden {
  display: none;
}

.btn-close {
  position: fixed;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: #000000;
  background-color: #fff;
  transition: fill var(--time) var(--cubic);
  cursor: pointer;
}
.btn-close:hover, .btn-close:focus {
  fill: var(--hover-text);
}

.close {
  position: relative;
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.16;
  text-align: center;
  color: var(--btn-text-color);
  margin-bottom: 12px;
}

.modal-svg {
  fill: rgb(0, 0, 0);
}

.modal-form-input {
  max-width: 200px;
  height: 20px;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 4px;
  padding-left: 41px;
  padding-right: 16px;
  color: #757575;
  cursor: pointer;
  transition: border-color var(--time) var(--cubic);
}
.modal-form-input:focus {
  border-color: var(--hover-text);
  outline: none;
  box-shadow: none;
}
.modal-form-input:focus + .modal-svg {
  fill: var(--hover-text);
}

@media screen and (min-width: 768px) {
  .modal-form-input {
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .modal-form-input {
    max-width: 450px;
  }
}
.modal {
  width: 65%;
  height: auto;
  background-color: #fff;
  position: relative;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
    background-color: #fff;
    position: relative;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 528px;
    height: 581px;
    background-color: #fff;
    position: relative;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    background-color: #fff;
    position: relative;
    padding: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.textarea-modal {
  resize: none;
  width: 100%;
  height: 120px;
  border: 1px solid #212121;
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 16px;
  padding-top: 10px;
  padding-right: 16px;
  color: rgba(117, 117, 117, 0.5);
  cursor: pointer;
}

.btn-form {
  width: 200px;
  border: none;
  border-radius: 4px;
  height: 50px;
  font-weight: 500;
  color: var(--button-text-color);
  background-color: var(--hover-text);
  box-shadow: 0 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.modal-svg {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill var(--time) var(--cubic);
}

.modal__icon {
  position: relative;
  margin-bottom: 12px;
}

.input-wrap-check {
  margin-bottom: 30px;
}

.contract {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.3pt;
  color: var(--hover-text);
}
@media screen and (min-width: 480px) {
  .contract {
    margin-left: 0px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.3pt;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .contract {
    margin-left: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.3pt;
    display: flex;
  }
}

.lablel-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.3pt;
  display: flex;
}
@media screen and (min-width: 480px) {
  .lablel-policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.3pt;
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .lablel-policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.3pt;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .lablel-policy {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;
    letter-spacing: 0.3pt;
    display: flex;
  }
}

.check-item {
  min-width: 15px;
  height: 15px;
  border: 2px solid #000000;
  border-radius: 2px;
  display: block;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--time) var(--cubic), border var(--time) var(--cubic);
}

.modal-check:checked + .lablel-policy .check-item {
  background-color: var(--hover-text);
  border: none;
}/*# sourceMappingURL=index.css.map */